:root {
  --Red: hsl(4, 100%, 67%);
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

html,
body {
  font-family: "Roboto-Regular";
  height: 100lvh;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

body,
section {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--White);
}

.title {
  font-family: "Roboto-bold";
  font-size: xx-large;
  margin: 2rem;
  color: var(--Blue-800);
}

#desctiption,
form,
button,
#submission {
  margin: 0 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#email-title {
  color: var(--Blue-800);
  font-weight: bold;
}

#error {
  color: var(--Red);
}

input {
  width: 85%;
  height: 3rem;
  border-radius: 0.5rem;
  border-color: var(--Grey);
  border-width: thin;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

::-webkit-input-placeholder {
  color: var(--Grey);
}

p {
  color: var(--Blue-700);
}

button {
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--White);
  background-color: var(--Blue-700);
  justify-content: center;
  align-items: center;
}

#submission,
#dismissBtn,
#error {
  display: none;
}

#validation-icon {
  width: 5rem;
  height: 5rem;
}

#submission {
  padding: 2rem 1rem;
  text-align: left;
  flex-direction: column;
  justify-content: center;

  .title {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 700px) {
  body,
  section {
    height: 100%;
  }

  #page-content {
    display: flex;
    flex-direction: column;
  }

  #illustration {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
}

@media screen and (min-width: 701px) {
  html {
    background-color: var(--Blue-800);
    align-items: center;
    align-content: center;
    justify-items: center;
  }

  body {
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    justify-content: center;
    padding: 1.5rem;
    margin: 2rem 0;
  }

  #page-content {
    display: grid;
    grid-template-areas:
      "a b"
      "c b";
    align-items: center;
    justify-content: center;
  }

  picture {
    grid-area: b;
    grid-row: 1 / span 2;
    align-self: stretch;
    justify-self: stretch;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #illustration {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    display: block;
  }

  #sign-up {
    grid-area: a;
    align-self: center;
  }

  #submitBtn {
    grid-area: c;
    align-self: center;
  }

  #dismissBtn,
  #submission {
    width: 30%;
  }

  #dismissBtn:hover {
    background-color: var(--Red);
    border-color: var(--Red);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
