:root {
  --Red: hsl(4, 100%, 67%);
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

html,
body {
  font-family: "Roboto-Regular";
  height: 100lvh;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

body,
section {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

.title {
  font-family: "Roboto-bold";
  font-size: xx-large;
  margin: 2rem;
  color: var(--Blue-800);
}

#desctiption,
form,
button,
#submission {
  margin: 0 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#email-title {
  color: var(--Blue-800);
  font-weight: bold;
}

#error {
  color: var(--Red);
}

input {
  width: 85%;
  height: 3rem;
  border-radius: 0.5rem;
  border-color: var(--Grey);
  border-width: thin;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

::-webkit-input-placeholder {
  color: var(--Grey);
}

button {
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--White);
  background-color: var(--Blue-700);
}

#submission,
#error {
  display: none;
}

@media screen and (max-width: 700px) {
  #illustration {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
